{% extends "base.htm" %}

{% block app_content %}
<div class="edit_user_form_container">
	<form class="edit_user_form" action="" method="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<!--<p class="form_label">{{ form.logo.label }}</p>
		<p class="form_input">{{ form.logo }}</p>
		{% for error in form.logo.errors %}
			<p class="error">{{ error }}</p>
		{% endfor %}-->
	
		<p class="form_label">{{ form.name.label }}</p>
		<p class="form_input">{{ form.name(size=37) }}</p>
		{% for error in form.name.errors %}
			<p class="error">{{ error }}</p>
		{% endfor %}

		<p class="form_label">{{ form.website.label }}</p>
		<p class="form_input">{{ form.website(size=123) }}</p>
		{% for error in form.website.errors %}
			<p class="error">{{ error }}</p>
		{% endfor %}

		<p class="form_label">{{ form.about.label }}</p>
		<p class="form_input">{{ form.about(size=123) }}</p>
		{% for error in form.about.errors %}
			<p class="error">{{ error }}</p>
		{% endfor %}

		<p class="form_label">{{ form.email.label }}</p>
		<p class="form_input">{{ form.email(size=123) }}</p>
		{% for error in form.email.errors %}
			<p class="error">{{ error }}</p>
		{% endfor %}

		<p class="form_label">{{ form.tel_number.label }}</p>
		<p class="form_input">{{ form.tel_number }}</p>
		{% for error in form.tel_number.errors %}
			<p class="error">{{ error }}</p>
		{% endfor %}

		<p class="submit_button">{{ form.submit() }}</p>
	</form>
</div>
{% endblock %}